<div class="input">
    <label for="{{name}}" class="input__label">{{label}}</label>
    <input type="{{type}}" name="{{name}}" placeholder="{{label}}" class="input__input" required>
    <div class="input__error">{{errortext}}</div>
</div>