<li class="chat-list-item {{classname}}">
    <div class="chat-list-item__photo">
        <img src="{{avatar}}" alt="avatar" class="photo-img">
    </div>
    <div class="chat-list-item__info">
        <p class="info-name">{{name}}</p>
        <p class="info-last-message">{{from}}<span class="last-message">{{lastmessage}}</span></p>
    </div>
    <div class="chat-list-item__data">
        <p class="data-date">{{date}}</p>
        <p class="data-count">{{count}}</p>
    </div>
</li>